html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.profile_pic {
    width: 200px;
    height: 200px;
    margin:10px;
    object-fit:cover;
}

.avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
}